<!DOCTYPE html>
<html>
<head>
{% load static %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
<script src="{% static 'javascript/jquery-3.4.1.min.js' %}" ></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style1.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title></title></head>
<body>
<div class="logo_container">
		<img src="{% static 'images/wood1' %}.jpg" class="logo"/>


	</div>

<div class="container -fluid">

<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
      <a href="/customer" style="color:black"><li class="list-group-item active">
       customer  </li></a>

        <a href="/item" style="color:black"><li class="list-group-item ">item

        </li></a>
      <a href="/order" style="color:black">  <li class="list-group-item">order </li></a>

       <a href="/payment" style="color:black"> <li class="list-group-item">payment</li></a>
        </ul>
        </div>
    <div class="col-md-10">
{% block content %}{% endblock %}</div>
</div>
</div>

<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>