{% extends 'layout.html' %}
{% block content %}

<form action="/order_create" method="POST" enctype="multipart/form-data">
{% csrf_token %}
customer:
    <select name="customer">
        {% for customer in customers %}
        <option value="{{customer.Customer_id}}">{{customer.Customer_name}}</option>
        {% endfor %}
    </select>
    item:
    <select name="item">
        {% for item in items %}
        <option value="{{item.item_id}}">{{item.item_name}}</option>
        {% endfor %}
    </select>
<button type="submit">add</button>
</form>
{% endblock %}