{% extends 'layout.html' %}
{% block content %}
<form action="/payment_create" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
    <label> customer:</label>
    <select name="customer">
        {% for customer in customers %}
        <option value="{{customer.Customer_id}}">{{customer.Customer_name}}</option>
        {% endfor %}
    </select>
    </div>
    <div class="form-group">
    <labe>cost:</labe>
    <input onchange="setPaid()" id="cost" type="number" name="cost"/>
    </div>
    vat:
    <input type="number" id="vat" name="vat"/>
    paid:
    <input type="number" id="paid" name="paid"/>
    date:
    <input type="date" name="date"/>
    <button type="submit">add</button>
</form>

<script>
    function setPaid(){
    let cost=document.getElementById('cost').value;
    document.getElementById('vat').value=13;
    let paid_cost=parseInt(0.13*cost)+parseInt(cost)
     document.getElementById('paid').value=paid_cost;

    }


</script>
{% endblock %}
